body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
}

.main {
  /*background-color: rgba(100,100,100,.4);*/
  /*border: 1px solid #2F323A;*/
  width: 96vw;
  height: 80vh;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.authDivRequired {
  margin-top: 20px;
  margin-bottom: 10px;
}

.authDivRequired > h3{
  margin-bottom: -2px;
}

.input {
  margin-top: 5px;
}

.fake-link {
  font-weight: 600;
	cursor: pointer;
}

.fake-link:hover {
  text-decoration: underline;
  color: #2F323A;
}

.Header-nav {
  background-color: #9796ab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.Logo, .Logo > img, .LogoSolo {
  height: 150px;
  display: flex;
  align-items: center;
}

.LogoSolo {
  padding-top: 20px;
}

.LogoSolo > img {
  height: 75px;
  margin-left: 17px
}

span {
  padding: 4px;
}

.insideModalInfo {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.artInShowPage {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.authControls {
  display: flex;
  justify-content: space-around;  
}

.imageThumbnail, .imageThumbnailInShowPage  {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

Form {
	width: 50%;
	margin: 0 auto;
}